*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color: rgb(177, 218, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    margin-top: -50px;
}
#taskinput{
    width:300px;
    height:40px;
    border-radius:5px;
    border:1px solid rgb(209, 23, 23);
    padding:0 10px;
    font-size:16px;
}
#addtaskbtn{
    height:40px;
    width: 40px;
    color:red;
     border-radius:5px;
    border:1px solid rgb(209, 23, 23);
    margin-left:10px;
    font-weight: 900;
    font-size: medium;
    background: transparent;
}
#tasklist{
    list-style-type: none;
    margin-top:20px;
  justify-content:center;
}